{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Add Skill" %}</h2>

<form method="post" class="mt-3">

    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">{% trans "Skill" %}</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">{% trans "Category" %}</label>
        <input type="text" name="category" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">{% trans "Level" %}</label>
        <select name="level" class="form-select">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
            <option value="Expert">Expert</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">{% trans "Progress" %}</label>
        <input type="number" name="progress" min="0" max="100" class="form-control" required>
    </div>

    <button class="btn btn-success">
        {% trans "Save" %}
    </button>

    <a href="/" class="btn btn-secondary">
        {% trans "Cancel" %}
    </a>

</form>

{% endblock %}